.row1 {
    background: darkgray;
    color: white;
    text-align: center;
    height: 70px;
    margin-bottom: 5px;
}

.col-3 {
    background: rgb(214, 213, 213);
    height: 400px;
    float: left;
    text-align: center;
}

.form-control {
    display: block;
    width: 70%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container {
    float: left;
    /* height: 400px; */
    background: white;
    padding-left: 50px;
}

#city-name{
    background: white;
    color: black;
}

h1 {
    background: lightblue;
    color:white;
}
.card {
    float: left;
    display: none;
}